@use 'variables' as v;
*{
    color: v.$primary-gray-2;
    font-family: v.$font-family, sans-serif ;
    font-weight: v.$font-weight;
    font-style: normal;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    background-color: v.$primary-gray-6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

//hides ugly button for uploading files
input[type="file"] {
  display: none;
}