
// <Layout>
$mobile-width: 375px;
$desktop-width: 1440px;
// </Layout>

// <Colors>
    // <Primary>
        $primary-gray-1: #333333;
        $primary-gray-2: #4F4F4F;
        $primary-gray-3: #828282;
        $primary-gray-4: #BDBDBD;
        $primary-gray-5: #E0E0E0;
        $primary-gray-6: #F2F2F2;
    // </Primary>
    
    // <Neutral>
        $secondary-blue-1: #2F80ED;
        $secondary-green-1:#219653;
    // </Neutral>
// </Color>

// <Font>
$font-size: 1.8rem;
$font-size-medium: 1.2rem;
$font-size-small: 1rem;
$font-family: 'Poppins', sans-serif;
$font-family-secondary: 'Noto Sans', sans-serif;
$font-weight: 500;
$letter-spacing: -0.035em;
// </Font>